:root {
    --dark-blue: #115eb6;
    --medium-blue: #4a7afb;
    --light-blue: #00cdf5;
    --light-shadow-blue: #b1dcf7;
    --text-white: #fff;
    --background-field: rgba(3, 115, 253, .2);
}

body {
    font-family: sans-serif;
}

h1 {
    text-align: center;
    text-shadow: -2px -2px 4px var(--medium-blue), 1px 1px var(--dark-blue);
    color: var(--text-white);
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 40vw;
    height: 70vh;
    border-radius: 8px;
    box-shadow: 4px 4px 4px var(--dark-blue), -2px -2px 2px var(--light-shadow-blue);
    background: url(./hinh/khuyen-mai.png) no-repeat bottom center;
}

.container-field * {
    display: inline;
}

.container-field {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.label-align-right {
    width: 48%;
    text-align: right;
    font-weight: bold;
    color: var(--dark-blue);
}

.field-align-left {
    text-align: left;
    width: 50%;
}

.text-field,
.field-align-left select {
    border: var(--medium-blue) dotted 1px;
    border-radius: 8px;
    background-color: var(--background-field);
    height: 1.5rem;
}

.field-long {
    width: 180px;
}

.field-big {
    width: 200px;
    height: 80px;
}

.field-medium {
    width: 140px;
}

.radio-label {
    font-weight: bold;
    color: var(--dark-blue);
}

.container-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.spacing {
    width: 20px;
}

.button {
    color: var(--text-white);
    background-image: linear-gradient(to bottom, var(--dark-blue), var(--light-blue));
    height: 1.8rem;
    border-radius: 8px;
    border: var(--light-blue) solid 3px;
    font-weight: bold;
}