* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --dark-brown: #4B2802;
    --brow-yellow: #CCA45C;
    --brow-pink: #FEE8D1;
    --brown-yellow-background: #BC7F10;
}

body {
    font: 12px sans-serif;
    color: var(--dark-brown);
    background: var(--brown-yellow-background) url(../images/bg.png) repeat-x fixed;
}

#container {
    width: 60%;
    margin: 0 auto;
    background-color: var(--dark-brown);
    box-shadow: 0px 0px 20px var(--dark-brown);
}

header {
    width: 100%;
    padding-top: 20px;
}

main {
    display: flex;
}

#ver_menu {
    width: 25%;
    padding: 20px;
    background-color: var(--brow-pink);
    float: left;
}

#ver_menu a {
    display: block;
    padding: 10px;
    color: var(--dark-brown);
    font-weight: bold;
    text-decoration: none;
    text-shadow: 1px 1px 2px rgba(75, 40, 2, 0.35);
    font-size: 14px;
    border-top: 1px dashed var(--dark-brown);
}

#ver_menu a:hover {
    color: #FFF;
    background-color: var(--brow-yellow);
}

#content {
    width: 75%;
    float: right;
    background-color: #FFF;
    padding: 20px;
}

#content img {
    margin-right: 20px;
}

#logo {
    text-align: center;
}

#logo img {
    max-width: 100%;
    height: auto;
}

footer {
    width: 100%;
    clear: both;
    padding: 20px;
    font-size: 10px;
    color: var(--brow-yellow);
}

footer a {
    color: var(--brow-yellow);
    text-decoration: none;
}

footer a:hover {
    color: var(--brown-yellow-background);
    text-decoration: underline;
}

#links {
    width: 50%;
    float: left;
}

#copyright {
    width: 50%;
    float: right;
    text-align: right;
}

#content header {
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    font-size: 16px;
    background-color: var(--brow-yellow);
    border-top: 1px dashed var(--dark-brown);
    border-bottom: 1px dashed var(--dark-brown);
    text-shadow: 1px 1px 2px rgba(75, 40, 2, 0.35);
}

#content h2 {
    margin: 20px auto;
}

.img_100 {
    width: 100%;
    height: auto;
}

.img_50 {
    width: 50%;
    height: auto;
    margin: 20px 0px;
}

.three-columns {
    column-count: 3;
    column-rule: dashed;
    column-gap: 20px;
}

.three-columns img {
    width: 100%;
    height: 100px;
}

.two-columns {
    column-count: 2;
    column-gap: 10px;
}

.items {
    border: var(--dark-brown) 1px dashed;
    margin: 20px;
    padding: 10px;
    box-shadow: 5px 5px rgba(78, 40, 1, 0.35);
}

.items:hover {
    box-shadow: 10px 10px 10px rgba(78, 40, 1, 0.75);
    transition: 1s;
    transform: scale(1.1);
}

.items img {
    width: 100%;
    height: auto;
}

figcaption {
    font-size: 10px;
    font-weight: bold;
    background-color: var(--brow-yellow);
    padding: 5px;
    text-align: center;
    break-inside: avoid;
}

figcaption .name {
    font-size: 14px;
}

.column-break {
    break-before: column;
}

.buy {
    width: 30%;
    float: right;
    padding: 100px 5px;
}

.txt {
    border: 1px dashed var(--dark-brown);
    color: var(--dark-brown);
    font-weight: bold;
    padding: 5px;
}

.but {
    color: var(--brow-yellow);
    background-color: var(--dark-brown);
    font-weight: bold;
    padding: 5px;
}

@media screen and (max-width: 900px) {
    #container {
        width: 80%;
    }

    main {
        display: block;
    }

    #cafe {
        display: none;
    }

    #ver_menu,
    #content {
        width: 100%;
        font-size: 10px;
        padding: 5px;
    }

    #ver_menu a {
        float: left;
        padding: 15px;
        border-bottom: none;
        border-right: 1px dashed var(--dark-brown);
    }

    footer {
        padding: 10px;
        height: 50px;
    }

    #links,
    #copyright {
        width: 100%;
        text-align: center;
    }

    .img_50 {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    #container {
        width: 100%;
    }

    main {
        display: block;
    }

    #cafe {
        display: none;
    }

    #ver_menu,
    #content {
        width: 100%;
        font-size: 10px;
        padding: 5px;
    }

    #ver_menu a {
        width: 100%;
        float: none;
        padding: 15px;
        border-right: none;
        border-bottom: 1px dashed var(--dark-brown);
    }

    footer {
        padding: 10px;
        height: 50px;
    }

    #links,
    #copyright {
        width: 100%;
        text-align: center;
    }

    .img_50 {
        width: 100%;
    }

    .three-columns {
        column-count: auto;
    }

    .three-columns img {
        max-width: 100%;
        height: auto;
    }

    .two-columns {
        column-count: auto;
    }

    .txt {
        width: 100%;
    }
}